# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# History files
.history/

# Chroma DB
.chroma_db/

# RAG data
r4p/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log